/* COLORS
Jumbotron bg: #b4d0e7
Buttons: #0061ff
Lightgreen: #a2d39b
Burgundy: #61082b
Blue-bottomleft: #0093ce
Red-bottomright: #ff1c1c
Red-topright: #d5001f
Light-blue: #b4d0e7
Blue-bottomright: #0d2481
Yellow: #ffd830
*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img:not(.jmbt-img) {
    max-width: 100%;
}

a:not(.clienti-link) {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

/* UTILITIES */
.section {
    margin: 50px auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 30px;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.button {
    max-width: 230px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.btn-blue {
    background-color: blue;
    color: white;
}

.btn-white {
    background-color: white;
    padding: 10px 30px;
}

.container {
    width: 55%;
    margin: 0 auto;
}

.margin-30 {
    margin: 30px 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.abs-trans {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.invert {
    filter: invert(1);
}

.logos-hr {
    width: 200px;
}
/* HEADER */
/* Header Nav */
.header-nav {
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 0 10px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.border-fx {
    padding: 36px 0;
    line-height: 100px;
    border-bottom: 3px solid transparent;
}

.border-fx:hover {
    border-bottom-color: black;
}

.head-nav-right li:last-child {
    color: white;
    line-height: 100px;
}

/* Jumbotron */
.jumbotron-bg {
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 200px;
    /* debug */
    height: 800px;
}

.jumbotron-top {
    width: 60%;
    margin: 0 auto;
}

.jumbotron-bottom {
    width: 60%;
    margin: 50px auto;
}

.jumbotron-paragraph {
    padding: 10px;
    width: 30%;
}

.jmbt-button {
    margin: 20px 0;
}

.jmbt-arrow {
    margin: 30px 0;
    font-size: 3rem;
}

.jumbotron-image {
    padding: 10px;
    width: 70%;
}

.jmbt-img {
    width: 800px;
    position: relative;
    top: 0;
    right: 0;
}

/* MAIN */
.main {
    padding: 150px 0 100px 0;
    /* debug */
    height: 6000px;
}

/* Section Plans */
/* plan grid */
.billing {
    width: 40%;
    height: 50px;
}

.bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid grey;
}
.bullet-blue {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid blue;
}

/* grid */
.plan-grid {
    width: 100%;
    margin: 50px 0;
}

.grid-hr {
    width: 40px;
    margin: 30px 0;
}

.plan-col {
    width: calc(100% / 3 - 30px);
    line-height: 40px;
}

.plan-card-title {
    padding: 0 10px;
    line-height: 50px;
    border: 1px solid lightgrey;
    text-align: center;
}

.plan-card-text {
    padding: 30px;
    text-align: left;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.plan-card-text a {
    text-decoration: underline;
    color: blue;
}

.plan-col-bottom {
    width: 100%;
    margin: 40px 0;
    line-height: 30px;
    text-align: left;
}

/* Section Partner */
.section-partner {
    margin: 100px auto;
}

.partner-img-container {
    width: 60%;
}

.partner-text-container {
    width: 40%;
    padding: 50px;
}

.btn-partner {
    margin: 30px 0;
    width: 190px;
    padding: 10px 0;
    border: 1px solid black;
}

/* Section Operations */
.section-operations {
    margin: 100px auto;
}

/* operations grid */
.op-grid {
    width: 100%;
}

.op-col {
    width: calc(100% / 3);
    padding: 40px;
}

.op-card {
    height: 100%;
}

/* Section Logos */
.section-logos {
    margin-bottom: 0;
}

/* logos container */
.logos-container {
    margin-top: 120px;
    width: 100%;
}

.square {
    width: calc(100% / 3);
    height: 700px;
}

.inner-square {
    width: 50%;
    height: 50%;
}

.logos-cont-center {
    background-color: #f5f5f5;
    padding: 50px;
}

/* logo colors */
.designit {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.arizona-u {
    background-color: #61082b;
}

.uni-f {
    background-color: #0093ce;
}

.topps {
    background-color: #ff1c1c;
}

.wbr {
    background-color: #d5001f;
}

.hearst {
    background-color: #b4d0e7;
}

.lonely-p {
    background-color: #0d2481;
}

.clear-channel {
    background-color: #ffd830;
}

/* company promotions */
.call-to-action {
    padding: 100px 0;
    margin-bottom: 100px;
    background-color: #b4d0e7;
}

.cta-container h2{
    color: #61082b;
}

/* FAQs */
.section-faqs {
    
}

.faqs-container{
    line-height: 100px;
    font-weight: 700;
}

.arrow-a , .arrow-b , .arrow-c {
    margin-right: 50px;
}

.lorem-hover {
    /* font-weight: 400; */
    display: none;
}

.arrow-a , .arrow-b , .arrow-c:hover .lorem-hover {
    display: block;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    /* debug */
    height: 550px;
}

.footer-container {
    width: 60%;
    padding: 100px 0;
    /* debug */
    height: 500px;
}

.footer-row {
    width: 100%;
    gap: 20px;
    /* debug */
    height: 300px;
}

.footer-col {
    /* debug */
    height: 300px;
}

.footer-col ul {
    line-height: 40px;
}

/* language */
.language-box {
    gap: 10px;
    /* padding: 10px; */
    width: 150px;
    height: 150px;
    border-top: 1px solid white;
}