/* COLORS
Jumbotron bg: #b4d0e7
Buttons: #0061ff
Lightgreen: #a2d39b
Burgundy: #61082b
Blue-bottomleft: #0093ce
Red-bottomright: #ff1c1c
Red-topright: #d5001f
Light-blue: #b4d0e7
Blue-bottomright: #0d2481
Yellow: #ffd830
*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

img:not(.jmbt-img) {
    max-width: 100%;
}

a:not(.clienti-link) {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

/* UTILITIES */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 30px;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.button {
    max-width: 230px;
    max-height: 100px;
    padding: 10px 15px;
}

.btn-blue {
    background-color: blue;
    color: white;
}

.btn-white {
    border: 1px solid black;
}
.container {
    width: 55%;
    margin: 0 auto;
}


/* HEADER */
/* Header Nav */
.header-nav {
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 0 10px;
    /* debug */
    background-color: lightpink;
}

.head-nav-left ul {
    gap: 30px;
}

.head-nav-right ul {
    gap: 30px;
}

/* Jumbotron */
.jumbotron-bg {
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 100px;
    /* debug */
    height: 700px
}

.jumbotron-top {
    width: 60%;
    margin: 0 auto;
}

.jumbotron-bottom {
    width: 60%;
    margin: 50px auto;
    display: flex;
}

.jumbotron-paragraph {
    padding: 10px;
    width: 30%;
}

.jmbt-button {
    margin: 30px 0;
}

.jmbt-arrow {
    margin: 30px 0;
}

.jumbotron-image {
    padding: 10px;
    width: 70%;
}

.jmbt-img {
    width: 800px;
    position: relative;
    top: 0;
    right: 0;
}

/* MAIN */
.main {
    padding: 150px 0 100px 0;
    /* debug */
    height: 5000px;
    /* background-color: yellowgreen; */
}

/* Section Plans */
/* plan grid */
.section-plans {
    /* width: 100%; */
    /* margin: 70px 0; */
    /*debug  */
    height: 1000px;
    background-color: grey;
}

.plan-grid {
    width: 100%;
    margin: 50px 0;
    /* debug */
    background-color: lightcoral;
    height: 700px;
}

.plan-col {
    width: calc(100% / 3 - 30px);
    line-height: 50px;
    /* debug */
    height: 350px;
    background-color: lightblue;
}

.plan-card-title {
    padding: 0 10px;
    border: 1px solid black;
    text-align: center;
}

.plan-card-text {
    padding: 0 15px;
    text-align: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.plan-col-bottom {
    width: 100%;
    line-height: 50px;
    text-align: left;
    /* debug */
    /* height: 150px;
    background-color: lightblue;
    position: relative;
    bottom: 150px;
    left: 0; */
}

/* Section Partner */
.section-partner {
    /* width: 100%; */
    /* margin: 70px 0; */
    /* debug */
    height: 540px;
    background-color: white;
}

.partner-img-container {
    width: 60%;
}

.partner-text-container {
    width: 40%;
    padding: 50px;
    /* debug */
}

.btn-partner {
    margin: 30px 0;
}

/* Section Operations */
.section-operations {
    /* width: 100%; */
    /* margin: 70px 0; */
    /* debug */
    height: 1000px;
    background-color: goldenrod;
}

/* operations grid */
.op-grid {
    width: 100%;
    /* debug */
    /* height: 700px; */
    background-color: beige;
}

.op-row {
    /* debug */
    height: 500px;
}

.op-col {
    width: calc(100% / 3);
    border: 1px solid black;
    padding: 10px;
    /* debug */
    background-color: green;
    height: 300px;
}

.op-card {
    /* debug */
    height: 100%;
    background-color: lightgoldenrodyellow;
}

/* Section Logos */
.section-logos {
    /* debug */
    height: 800px;
    background-color: pink;
}

/* logos container */
.logos-container {
    margin-top: 100px;
    width: 100%;
    /* debug */
    height: 700px;
    background-color: lightslategrey;
}

.square {
    width: calc(100% / 3);
    height: 700px;
    border: 1px solid black;
}

.inner-square {
    width: 50%;
    height: 50%;
    border: 1px solid yellow;
}